 Importation of necessary libraries and mounting of drive

In [18]:
from google.colab import drive
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

 Creating dataframe

In [ ]:
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/CustomerChurn_dataset.csv')

Checking the values and structure of the Dataset

In [ ]:
data.info()
new_data = data.drop (['customerID', 'Contract','PaperlessBilling'],axis=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [ ]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  PaymentMethod     7043 non-null   object
 15  MonthlyCharges    7043 non-null   float64
 16  TotalCharges      7043 non-null   object
 17  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(15)
memory usage: 990.5+ KB

In [ ]:
new_data = pd.get_dummies(new_data, columns=['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines',
                                 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
                                 'TechSupport', 'StreamingTV', 'StreamingMovies', 'PaymentMethod','TotalCharges'])

In [ ]:
new_data['Churn'],a=pd.factorize(new_data['Churn'])

In [ ]:
y = new_data['Churn']
X = new_data.drop('Churn', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
X

,SeniorCitizen,tenure,MonthlyCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,TotalCharges_995.35,TotalCharges_996.45,TotalCharges_996.85,TotalCharges_996.95,TotalCharges_997.65,TotalCharges_997.75,TotalCharges_998.1,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9
0,0,1,29.85,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,34,56.95,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,2,53.85,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,45,42.30,0,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,2,70.70,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,24,84.80,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7039,0,72,103.20,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7040,0,11,29.60,1,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
7041,1,4,74.40,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7042,0,66,105.65,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
corr_matrix = new_data.corr()
corr_matrix

,SeniorCitizen,tenure,MonthlyCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,TotalCharges_995.35,TotalCharges_996.45,TotalCharges_996.85,TotalCharges_996.95,TotalCharges_997.65,TotalCharges_997.75,TotalCharges_998.1,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9
SeniorCitizen,1.000000,0.016567,0.220173,0.150889,0.001874,-0.001874,-0.016479,0.016479,0.211185,-0.211185,...,-0.005242,-0.005242,-0.005242,-0.005242,0.027088,-0.005242,-0.005242,-0.005242,-0.005242,-0.005242
tenure,0.016567,1.000000,0.247900,-0.352229,-0.005106,0.005106,-0.379697,0.379697,-0.159712,0.159712,...,-0.009400,0.004187,-0.004547,0.009040,-0.010370,0.009040,0.010981,-0.009400,-0.009885,-0.010370
MonthlyCharges,0.220173,0.247900,1.000000,0.193356,0.014569,-0.014569,-0.096848,0.096848,0.113890,-0.113890,...,0.005540,-0.015649,-0.007847,-0.017788,0.012036,-0.017966,-0.018065,0.004055,0.008035,0.011659
Churn,0.150889,-0.352229,0.193356,1.000000,0.008612,-0.008612,0.150448,-0.150448,0.164221,-0.164221,...,-0.007162,-0.007162,-0.007162,-0.007162,0.019827,-0.007162,-0.007162,0.019827,-0.007162,-0.007162
gender_Female,0.001874,-0.005106,0.014569,0.008612,1.000000,-1.000000,-0.001808,0.001808,0.010517,-0.010517,...,0.012030,-0.011804,0.012030,0.012030,0.012030,-0.011804,0.012030,0.012030,-0.011804,0.012030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TotalCharges_997.75,-0.005242,0.009040,-0.017966,-0.007162,-0.011804,0.011804,-0.012328,0.012328,-0.018221,0.018221,...,-0.000142,-0.000142,-0.000142,-0.000142,-0.000142,1.000000,-0.000142,-0.000142,-0.000142,-0.000142
TotalCharges_998.1,-0.005242,0.010981,-0.018065,-0.007162,0.012030,-0.012030,-0.012328,0.012328,-0.018221,0.018221,...,-0.000142,-0.000142,-0.000142,-0.000142,-0.000142,-0.000142,1.000000,-0.000142,-0.000142,-0.000142
TotalCharges_999.45,-0.005242,-0.009400,0.004055,0.019827,0.012030,-0.012030,0.011519,-0.011519,0.007794,-0.007794,...,-0.000142,-0.000142,-0.000142,-0.000142,-0.000142,-0.000142,-0.000142,1.000000,-0.000142,-0.000142
TotalCharges_999.8,-0.005242,-0.009885,0.008035,-0.007162,-0.011804,0.011804,-0.012328,0.012328,0.007794,-0.007794,...,-0.000142,-0.000142,-0.000142,-0.000142,-0.000142,-0.000142,-0.000142,-0.000142,1.000000,-0.000142
TotalCharges_999.9,-0.005242,-0.010370,0.011659,-0.007162,0.012030,-0.012030,0.011519,-0.011519,0.007794,-0.007794,...,-0.000142,-0.000142,-0.000142,-0.000142,-0.000142,-0.000142,-0.000142,-0.000142,-0.000142,1.000000

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import RFECV

In [22]:
X.columns

Index(['SeniorCitizen', 'tenure', 'MonthlyCharges', 'gender_Female',
       'gender_Male', 'Partner_No', 'Partner_Yes', 'Dependents_No',
       'Dependents_Yes', 'PhoneService_No',
       ...
       'TotalCharges_995.35', 'TotalCharges_996.45', 'TotalCharges_996.85',
       'TotalCharges_996.95', 'TotalCharges_997.65', 'TotalCharges_997.75',
       'TotalCharges_998.1', 'TotalCharges_999.45', 'TotalCharges_999.8',
       'TotalCharges_999.9'],
      dtype='object', length=6570)

In [31]:
selected_features = ['SeniorCitizen', 'tenure', 'MonthlyCharges', 'gender_Female']
X_train_selected = X_train[selected_features]
X_test_selected = X_test[selected_features]

In [35]:
import keras
from keras.models import Model
from keras.layers import Input, Dense
from keras.optimizers import Adam
from keras.utils import to_categorical

In [36]:

input_layer = Input(shape=(X_train.shape[1],))
hidden_layer_1 = Dense(20, activation='relu')(input_layer)
hidden_layer_2 = Dense(20, activation='relu')(hidden_layer_1)
output_layer = Dense(1, activation='sigmoid')(hidden_layer_2)

model = Model(inputs=input_layer, outputs=output_layer)

In [ ]:
model.compile(optimizer=Adam(learning_rate=0.01), loss='binary_crossentropy', metrics=['accuracy'])

model.fit(X_train, y_train, epochs=45, batch_size=42, validation_data=(X_test, y_test))

In [48]:
loss, accuracy = model.evaluate(X_test, y_test)
print(f'Test Loss: {loss:.4f}')
print(f'Test Accuracy: {accuracy*100:.4f}')

45/45 [==============================] - 0s 3ms/step - loss: 0.9299 - accuracy: 0.7665
Test Loss: 0.9299
Test Accuracy: 76.6501

In [ ]:
from sklearn.neural_network import MLPClassifier
model = MLPClassifier()
model = MLPClassifier()

# Hyperparameter tuning with GridSearchCV
param_grid = {'hidden_layer_sizes': [(20, 10), (20, 20)],
              'activation': ['relu', 'tanh'],
              'solver': ['adam', 'sgd']}

grid_search = GridSearchCV(model, param_grid, scoring='roc_auc', cv=5)
grid_search.fit(X_train, y_train)

best_model = grid_search.best_estimator_

# Evaluate the model's accuracy and AUC score
predictions = best_model.predict(X_test)
accuracy = accuracy_score(y_test, predictions)
auc = roc_auc_score(y_test, predictions)

print('Accuracy:', accuracy)
print('AUC:', auc)